@import "colors.scss";

$body-font: Helvetica;
$porcentaje-2: 2%;
$porcentaje-3: 3%;
$porcentaje-4: 4%;
$porcentaje-5: 5%;
$porcentaje-6: 6%;
$porcentaje-7: 7%;

$break-small: 320px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:$body-font;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

[class*="col-"] {
  min-height: 8px;
  padding: 12px;
  float: left;
}

.col-1 {
  /* (1/12)*100 */
  width: 8.333%;
}

.col-2 {
  /* (2/12)*100 */
  width: 16.666%;
}

.col-3 {
  /* (3/12)*100 */
  width: 25%;
}

.col-4 {
  /* (4/12)*100 */
  width: 33.333%;
}

.col-5 {
  /* (5/12)*100 */
  width: 41.666%;
}

.col-6 {
  /* (6/12)*100 */
  width: 50%;
}

.col-7 {
  /* (7/12)*100 */
  width: 58.333%;
}

.col-8 {
  /* (8/12)*100 */
  width: 66.666%;
}

.col-12 {
  /* (12/12)*100 */
  width: 100%;
}

@mixin list {
  list-style: none;
  padding: $porcentaje-4;
  margin: $porcentaje-5;
  color: $white-color;
}
*{
  font-family:$body-font;
}
.titulo{
  background-color: $yellow-color;
  padding: $porcentaje-3;
  color: $white-color;
}
.menu{
  @include list;
  background-color: $gray-color;
}
.ejercicio{
  @include list;
  background-color: $yellow-color;
}
.central{
  h1, p{
    margin-top: $porcentaje-5;
    margin-bottom: $porcentaje-5;
  }
}
.aside{
  background-color: $gray-color;
  color: $white-color;
  text-align: center;
  margin-top: $porcentaje-2;
  margin-bottom: $porcentaje-3;
  h2 {
    margin: $porcentaje-7;
  }
}
.footer{
  background-color: $gray-color;
  padding: $porcentaje-3;
  color: $white-color;
  text-align: center;
}

 @media screen and (min-width: 320px) and (max-width: 768px) {
   .izquierda, .central, .aside {
     width: 100%;
     float: none;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1024px) {
   .izquierda {
     width: 25%;
     float: left;
   }
   .central {
     width: 75%;
     float: left;
   }
   .aside {
     width: 100%;
     float: none;
     clear:both;
   }
 }
